{% extends "base.html" %}
{% load static %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}


{% block content %}
<div class="container h-100 py-5"> 
    <div class="row">
        <div class="col-12 my-5">
            <h2 class="logo-font text-center">{{ profile }}</h2>
        </div>
    </div>
    <div class="row">
        <!-- Delivery Information-->
        <div class="col-12 col-md-6">
        <p class="logo-font"> Delivery Information</p>
            <form action="{% url 'profiles' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <a href="" class="shop-button btn btn-lg float-right rounded-0 text-uppercase mt-5">Update Information</a>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <p class="logo-font"> Order History</p>
            <div class="orders table-responsive">
                <table class="table table-borderless table-sm">
                    <thead>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Products</th>
                        <th>Total</th>
                    </thead>
                    <tbody>
                        {% for orders in order %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' %}order.order_number" title="{{ order.order_number }}">{{ order.order_number|trunkcatechars:6 }}</a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul>
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.product.name }} x{{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>£{{ order.total ))</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div>
    </div>

</div>
{% endblock %}
