<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="" class="navigation-link mr-5" id="all-products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Cakes
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products">
                <a href="{% url 'products' %}?category=is_vegan" class="dropdown-item">Vegan</a>
                <a href="{% url 'products' %}?category=brownies,is_vegan,cakes" class="dropdown-item">All Goodies</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="navigation-link mr-5" id="all-brownies" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brownies
            </a>
            <div class="dropdown-menu" aria-labelledby="all-brownies">
                <a href="{% url 'products' %}?category=brownies,is_vegan " class="dropdown-item">All Brownies</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="navigation-link mr-5" id="all-cakes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cakes
            </a>
            <div class="dropdown-menu" aria-labelledby="all-cakes">
                <a href="{% url 'products' %}?category=cakes" class="dropdown-item">All Cakes</a>
            </div>
        </li>
    </ul>
</div>