<li class="list-inline-item">
    <a href="#" class="navigation-link d-block d-lg-none" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div class="fas fa-search logo-font"></div>
            <p class="my-0 logo-font">Search</p>
        </div>
    </a>
    <div class="dropdown-menu w-100 p-3" aria-labelledby="mobile-search">
        <form action="{% url 'products' %}" method="GET">
            <div class="input-group w-100">
                <input type="text" class="form-control border border-black rounded-0" name="q" placeholder="Search Products">
                <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon logo-font">
                                <i class="fas fa-search"> Search </i>
                             </span>
                       </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">
    <a href="#" class="navigation-link d-block d-lg-none" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div class="fas fa-user"></div>
            <p class="my-0 logo-font">Account</p>
        </div>
    </a>
    <div class="dropdown-menu" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="{% url 'profiles' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Log Out</a>
        {% else %}
            <a href="{% url 'account_signup' %} " class="dropdown-item">Sign Up</a>
            <a href="{% url 'account_login' %} " class="dropdown-item">Log In</a>
        {% endif %}
    </div>       
</li>
<li class="list-inline-item d-md-none">
    <a href="{% url 'bag_view' %}" class="{% if grand_total %}font-weight0bold info{% else %}black-font{% endif %} navigation-link">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag logo-font"></i></div>
                <p class="my-0">
                {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                {% else %}
                    £0.00
                {% endif %}
                </p>
            </div>
    </a>
</li>
