{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block content %}

<div class="container h-100 py-5"> 
    <div class="row">
        <div class="col-12 my-5">
            <h2 class="logo-font text-center">Cake Basket</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="logo-font text-center">Please make sure all items are correct before proceeding to checkout</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if bag_items %}
                <table class="logo-font-table">
                <div class="table-responsive">
                    <tr>
                        <th scope="col"><h4>Name:</h4></th>
                        <th scope="col"><h4>Price:</h4></th>
                        <th scope="col"><h4>Quantity:</h4></th>
                        <th scope="col"><h4>Description</h4></th>
                    </tr>
                    {% for item in bag_items %}
                    <tbody>
                        <td>
                            <p class="logo-font"><bold>{{ item.product.name }}</bold></p>
                        </td>
                        <td>
                            <p class="logo-font"><bold>£{{ item.product.price }}</bold></p>
                        </td>
                        <td>
                            <form class="form updated-bag" action="{% url 'update_item' item.item_id %}" method="POST">
                                {% csrf_token %}
                           <div class="form-group ">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrease-quantity btn btn-sm rounded-0" data-item_id="{{ item.item_id }}" id="decrease-qty_{{ item.item_id }}">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>

                                        <input class="form-control form-control-sm qty_input updated-bag " type="number" min="1" name="amount" max="99" value="{{ item.quantity }}" 
                                            data-item_id="{{ item.item_id }}" 
                                            id="id_qty_{{ item.item_id }}" >

                                        <div class="input-group-append">
                                            <button class="increase-quantity btn btn-sm rounded-0" data-item_id="{{ item.item_id }}" id="increase-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                </div>
                            </div>
                            </form>
                            <a class="update-item logo-font" href=""><small>update</small></a>
                            <a class="remove-item logo-font float-right" id="remove_{{ item.item_id }}" href=""><small>remove</small></a>
                        </td>
                        <td>
                            <p class="logo-font text-center"><bold>{{ item.product.description }}</bold></p>
                        </td>
                    </tbody>
                    {% endfor %}
                    <tr>
                        <th scope="row">
                        <h5 class="logo-font">Total: £{{ total|floatformat:2 }}</h5>
                        </th>
                        <td>
                            <a href="{% url 'products' %}" class="shop-button btn btn-lg rounded-0 text-uppercase mt-5">Get Some Cake!</a>                            
                        </td>
                        <td>
                            <a href="{% url 'checkout' %}" class="shop-button btn btn-lg rounded-0 text-uppercase mt-5">Checkout</a>                            
                        </td>
                     </tr>
                </table>  
            {% else %}
                <h4 class="logo-font text-center">You Currently Have No Items In Your Bag</h4>
                <hr>
            <div class="row">
                <a href="{% url 'products' %}" class="shop-button btn btn-lg rounded-0 text-uppercase mt-3">Get Some Cake!</a>
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity.html' %}

    <script type="text/javascript">
        // Quantity update 
        $('.update-item').click(function(e) {
            var quantity = $(this).prev('.updated-bag');
            form.submit();
        })

        // Remove  
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var item_id = $(this).attr('id').split('remove_')[1];
            var url = `/holding/remove/${item_id}/`;
            var data = {'csrfmiddlewaretoken': csrfToken}

            $.post(url, data)
            .done(function(){
                location.reload();
            });
        })
    </script>
{% endblock %}