{% load static %}

<!doctype html>
<html lang="en">
  <head>
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv = "X-UA-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block extrameta %}
{% endblock %}

{% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block extracss %}
{% endblock %}

{% block corejs %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/719781fda5.js" crossorigin="anonymous"></script>
{% endblock %}

{% block extrajs %}
{% endblock %}
    <title>Cake-Station {% block titleextension %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div class="row">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-lg-left text-sm-center">
                <a href="{% url 'home' %}" class="navigation-link logo-link">
                    <h2 class="is-hidden-mobile">CAKE-STATION</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-2 align-center">
               <form action="" method="GET">
                   <div class="input-group w-100">
                        <input type="text" class="form-control border border-black rounded-0" name="q" placeholder="Search Products">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                   </div>
                </form> 
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline text-center list-unstyled text-lg-right my-auto">
                    <li class="list-inline-item dropdown">
                        <a href="#" class="black-font navigation-link" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Log Out</a>
                            {% else %}
                                <a href="{% url 'account_signup' %} " class="dropdown-item">Sign Up</a>
                                <a href="{% url 'account_login' %} " class="dropdown-item">Log In</a>
                            {% endif %}

                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="{% if grand_total %}font-weight0bold info{% else %}black-font{% endif %} navigation-link">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
{% if messages %}
    <div class="messages">

    </div>
{% endif %}

{% block page_header %}
{% endblock %}

{% block content %}
{% endblock %}

<!-- Codepen Footer From Sherif Hamdy -->
<footer id="footer" class="footer-1">
   <div class="main-footer widgets-dark typo-light">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget subscribe no-box">
               <h5 class="widget-title">CAKE-STATION<span></span></h5>
               <p>A company dedicated to providing your gaming fuel! </p>
            </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
               <h5 class="widget-title">Quick Links<span></span></h5>
               <ul class="thumbnail-widget">
                  <li>
                     <div class="thumb-content"><a href="#.">&nbsp;Brownies</a></div>
                  </li>
                  <li>
                     <div class="thumb-content"><a href="#.">&nbsp;Cakes</a></div>
                  </li>
                  <li>
               </ul>
            </div>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
               <h5 class="widget-title">Social Media<span></span></h5>
               <a href="#"> <i class="fa fa-facebook"> </i> </a>
               <a href="#"> <i class="fa fa-twitter"> </i> </a>
               <a href="#"> <i class="fa fa-youtube"> </i> </a>
            </div>
         </div>
         <br>
         <br>
         <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
               <h5 class="widget-title">Contact Us<span></span></h5>
               <p>Need a Browine FAQ? Feel free to email us!</p>
               <div class="emailfield">
                  <input type="text" name="email" value="Email">
                  <input name="uri" type="hidden" value="arabiantheme">
                  <input name="loc" type="hidden" value="en_US">
                  <input class="submitbutton ripplelink" type="submit" value="Subscribe">
                  </form>  
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-copyright">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <p>Copyright Cake-Station © 2021. All rights reserved.</p>
            </div>
         </div>
      </div>
   </div>
</footer>
{% block postloadjs %}
{% endblock %}
  </body>
</html>