{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col">
            <h2 class="logo-font text-center my-5">{{ product.name }}</h2>
            </div>
        </div>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-4">
            <div class="image-holder my-5">
                <div class="card mx-auto" style="width: 14rem;">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank"> 
                        <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top img-fluid" alt="{{ product.name }}">
                    </a>
                    {% endif %}   
            </div>
        </div>
        <div class="col-12 col-md-6 offset-md-1 col-lg-12">
            <div class="row"></div>
            <div class="details-container ">
                <p class="product-text">£{{ product.price }}</p>
                {% if prouct.is_vegan %}
                    <p class="product-text"><i class="fas fa-seedling"></i> Vegan Friendly! <i class="fas fa-seedling"></i></p>
                {% endif %}
                <p class="product-text">Allergens: {{ product.allergens }}</p>
                <p class="product-text">This cake: {{ product.description }}</p>
<!-- Form to submit shopping basket-->
                <form method="POST" action="{% url 'add_item' product.id %}" class="form">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p>Amount:</p>
                            <div class="form-group">
                                <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrease-quantity btn btn-lg rounded-0" data-item_id="{{ product.id }}" id="decrease-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>

                                    <input class="form-control qty_input" type="number" min="1" name="amount" max="99" value="1" data-item_id="{{ product.id }}" 
                                    id="id_qty_{{ product.id }}">

                                <div class="input-group-append">
                                    <button class="increase-quantity btn btn-lg rounded-0" data-item_id="{{ product.id }}" id="increase-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <a href="{% url 'products' %}" class="shop-button btn btn-lg rounded-0 text-uppercase mt-3">Get Back To Shopping</a>
                        </div>
                        <input type="submit" class="shop-button btn btn-lg rounded-0 text-uppercase mt-3" value="Add to Bag">
                    </div>
                </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity.html' %}
{% endblock %}