{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col">
            <h2 class="logo-font text-center my-5">Product Detail</h2>
            </div>
        </div>
    </div>
<div class="container-fluid">

        <div class="row col-md-11 offset-md-1 col-sm-3 p-4 logo-font">
            {% for product in products %}
                <div class="card mx-auto bg-light" style="width: 14rem;">
                    {% if product.image %}
                    <a href="{% url 'detail' product.id %}">
                        <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'detail' product.id %}">
                        <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top img-fluid" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body">
                        <div class="row">
                            <p class="card-text text-center bg-light logo-font"><strong> {{ product.name }} </strong></p>
                        </div>
                        <div class="row text-center">
                            <p class="card-text logo-font">£{{ product.price }}</p>
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                        <small>
                            <a href="{% url 'edit_product' product.id %}" class="logo-font">Edit </a>
                            <a href="{% url 'delete_product' product.id %}" class="text-danger ml-1">Delete</a>
                        </small>
                    {% endif %}   
                </div>

                <div class="col-12 d-sm-none">
                    <hr>
                </div>

                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
                    <hr>
                </div>
                {% endif %}

                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none">
                    <hr>
                </div>
                {% endif %}

                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block">
                    <hr>
                </div>
                {% endif %}
            {% endfor %}
        </div>    
    </div>
</div>
{% endblock %}